@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Checkout";
}

<h2>Shopping Cart Review</h2>

<form id="checkout-form" method="post" action="/Order/Checkout">
    <h2>Checkout Form</h2>
    <div asp-validation-summary="All"></div>

    <label for="name">Name:</label>
    <input type="text" class="validate" id="name" name="Name" required><br>
    <span validation-for="name"></span>

    <label for="description">Description:</label>
    <input type="text" class="validate" id="description" name="Description" required><br>
    <span validation-for="description"></span>

    <label for="email">Email:</label>
    <input type="email" class="validate" id="email" name="Email" required><br>
    <span validation-for="email"></span>

    <label for="phone">Phone number:</label>
    <input type="tel" class="validate" id="phone" name="Phone" required><br>
    <span validation-for="phone"></span>

    <label for="billing-country">Billing Country:</label>
    <input type="text" class="validate" id="billing-country" name="BillingCountry" required><br>
    <span validation-for="billing-country"></span>

    <label for="billing-city">Billing City:</label>
    <input type="text" class="validate" id="billing-city" name="BillingCity" required><br>
    <span validation-for="billing-city"></span>
    
    <label for="billing-zipcode">Billing Zipcode:</label>
    <input type="text" class="validate" id="billing-zipcode" name="BillingZipcode" required><br>
    <span validation-for="billing-zipcode"></span>

    <label for="billing-address">Billing Address:</label>
    <textarea class="validate" id="billing-address" name="BillingAddress" required></textarea><br>
    <span validation-for="billing-address"></span>

    <div>
        <label for="same-as-billing">Same address as billing </label>
        <input class="validate" type="checkbox" onclick="hideShippingDetails()" id="same-as-billing" name="ShippingSameAsBilling" value="true">
    </div>

    <div id="shipping-details" class="hidden">
        <label for="shipping-country">Shipping Country:</label>
        <input class="validate" type="text" id="shipping-country" name="ShippingCountry" required><br>
        <span validation-for="shipping-country"></span>

        <label for="shipping-city">Shipping City:</label>
        <input class="validate" type="text" id="shipping-city" name="ShippingCity" required><br>
        <span validation-for="shipping-city"></span>

        <label for="shipping-zipcode">Shipping Zipcode:</label>
        <input type="text" class="validate" id="shipping-zipcode" name="ShippingZipcode" required><br>
        <span validation-for="shipping-zipcode"></span>

        <label for="shipping-address">Shipping Address:</label>
        <textarea id="shipping-address" class="validate" name="ShippingAddress" required></textarea><br>
        <span validation-for="shipping-address"></span>
    </div>
    <input type="submit" onclick="validate()" value="Go to Payment">
</form>

