@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Checkout";
}
@model Domain.Item

<p>Payment</p>
<span class="mr-auto">Price: @((@Model.Product.DefaultPrice * @Model.Quantity).ToString("C2", new CultureInfo("en-US")))</span>
