@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Checkout";
}

<p>Payment</p>
<span class="mr-auto">Total Price: @((@ViewBag.TotalPrice).ToString("C2", new CultureInfo("en-US")))</span>
