@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1>Privacy Policy</h1>
    <p>Last Updated: 09.09.2023</p>

    <h2>Information We Collect</h2>
    <p>
        When you use our Website, we may collect personal information, such as:
    </p>
    <ul>
        <li>Name</li>
        <li>Email address</li>
        <li>Contact information (e.g., shipping address, phone number)</li>
        <li>Payment information (e.g., credit card details)</li>
    </ul>
    
    <h3>Usage Information</h3>
    <p>We also collect non-personal information about your interactions with our website, including:</p>
    <ul>
        <li>Cookies and similar tracking technologies (please refer to our Cookie Policy)</li>
    </ul>

    <h2>Your Choices</h2>
    <p>
        - You can access, update, or delete your personal information by contacting us.<br />
    </p>

    <h2>Changes to this Privacy Policy</h2>
    <p>
        We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. The date of the latest revision will be posted at the top of this page.
    </p>

    <h2>Contact Us</h2>
    <p>
        If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at [for development - empty].
    </p>
</div>